@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
body{
    background-color: #292D3E;
    font-family: 'Space Mono';
    font-size: 15px;
    box-sizing: border-box;
}
.text{
    color: #eeffff;
    font-style: normal!important;
    font-weight: 300!important;
}
.key{
    color: #89ddff;
    font-weight: 600;
    font-style: italic;
}
.comment{
   color: #676E95;
}