@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-decoration: none;
    box-sizing: border-box;
}
/* 
colors: 
#562eff

*/

body{
    height: 100vh;
    background-image: url("/assets/img/bg.png");
    background-position: center center;
    background-position: cover;
    background-repeat: no-repeat;
}
.main-wrap{
    display: flex;
}
.sidebar-wrap{
    min-width: 200px;
    background-color: #222222;
    height: 100vh;
    left: 0;

}
.content-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar-wrap img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: 50px;
    margin-top: 7em;
}
.sidebar-wrap .user-logo h3{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-family:'Montserrat';
    font-size: 22px;
    margin-top: 18px;
}
.sidebar-wrap ul li{
    list-style: none;
}
.sidebar-wrap ul li a{
    border-top: 1px solid rgba(255,255,255,.12);
    border-bottom: 1px solid rgba(255,255,255,.12);
    color: #7c7c7c;
    background-color: transparent;
    opacity: 1;
    display: block;
    text-decoration: none;
    padding: 25px 25px;
}
.sidebar-wrap ul li .fa-solid{
    width: 25px;
}
.sidebar-wrap ul li a:hover{
    color: #fff;
}
/* menu icon part */
.ham-burger-icon {
    display: none;
    padding: 15px 15px 0 0;
    float: right;
}
.ham-burger-icon .fa-solid{
    color: #562eff;
    font-size: 25px;
}
/* menu icon part end */
.container{
    background-color: #222222;
    width: 100%;
    padding: auto;
    margin: auto;
    border: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.section-title{
    border-left: 2px solid #562eff;
}
.section-title-text{
    color: #555555;
    display: block;
    line-height: 1.1em;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    font-family: 'Montserrat';
    padding: 10px 10px 0px 10px;
}
.section-description{
display: inline-block;
position: relative;
margin: 0;
color: #fff;
background-color: #562eff;
padding: 0 10px;
font-size: 14px;
font-weight: 200;
text-align: center;
margin-left: 27px;
}
/* media query section*/

@media only screen and (max-width: 850px){
    .sidebar-wrap{
        display: none;
    }
    .header-bar{
        height: 55px;
        width: 100%;
        position: relative;
        background-color: #222222; 
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .ham-burger-icon {
        display: block;
        padding: 15px 15px 0 0;
        cursor: pointer;
        float: right;
    }
    .toggle-sidebar{
        display: block!important;
    }
}