@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Oxygen';
}

/* 
colors: 
#562eff

*/

/* 
About Category CSS

*/

body {
    background-image: url("../img/bg.png");
    background-position: center center;
    background-position: cover;
    background-repeat: no-repeat;
}

.main-wrap {
    display: flex;
}

.sidebar-wrap {
    min-width: 220px;
    background-color: #222222;
    left: 0;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-wrap img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: 50px;
    margin-top: 7em;
}

.sidebar-wrap .user-logo h3 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Oxygen';
    font-size: 22px;
    margin-top: 18px;
}

.sidebar-wrap ul li {
    list-style: none;
}

.sidebar-wrap ul li a {
    border-top: 1px solid rgba(255, 255, 255, .12);
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    color: #7c7c7c;
    background-color: transparent;
    opacity: 1;
    display: block;
    text-decoration: none;
    padding: 25px 25px;
}

.sidebar-wrap ul li .fa-solid {
    width: 40px;
}

.sidebar-wrap ul li a:hover {
    color: #fff;
}

/* menu icon part */
.ham-burger-icon {
    display: none;
    padding: 16px 0 0 16px;
}

.ham-burger-icon ion-icon {
    color: #562eff;
    font-size: 25px;
    padding: 10px 0 0 15px;
}

/* menu icon part end */
.container {
    background-color: #222222;
    width: 100%;
    padding: auto;
    margin: auto;
    border: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.section-title {
    border-left: 2px solid #562eff;
}

.mini-section-title h3 {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    padding: 10px;
}

.section-title-text {
    color: #555555;
    display: block;
    line-height: 1.1em;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    font-family: 'Oxygen';
    padding: 10px 10px 0px 10px;
}

.section-description {
    display: inline-block;
    position: relative;
    margin: 0;
    color: #fff;
    background-color: #562eff;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    margin-left: 0px;
}

.about-image img {
    width: 100%;
    height: auto;
    vertical-align: bottom
}

.col-lg-4 h3 {
    font-weight: 700;
    font-size: 19px;
    text-transform: none;
}

.col-lg-4 p {
    font-weight: 200;
    font-size: .875em;
    font-family: 'PT sans';
}

.col-lg-4 ul li {
    list-style: none;
}

.col-lg-4 ul li .title {
    font-size: 14px;
    border-bottom: 1px solid #562eff;
    white-space: normal;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 2px;
}

.col-lg-4 ul li .value {
    font-weight: normal;
    font-family: 'Pt sans';
}

.col-lg-4 ul li a {
    color: #562eff;
    display: block;
    text-align: center;
    padding: 15px;
    margin: 10px 10px 0 0;
    border: 0.05px solid #555555;
    border-radius: 50%;
    height: auto;
}

.col-lg-4 ul li a .fa-brands,
.fa-solid {
    padding: 5px;
    margin: 0;
    text-align: center;
    font-size: 22px;
}

.col-lg-4 ul li a:hover {
    color: #fff;
    background-color: #562eff;
    transition: 0.05s;
    border: none;
}

.col-lg-4 .social-link li {
    float: left;
}

.col-lg-3 {
    text-align: center;
}

.col-lg-3 .fa-circle {
    color: #562eff;
}

.col-lg-3 h4 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.col-lg-3 p {
    font-size: .875em;
    margin: 0 0 10px;
    font-weight: 300;
    color: #fff;
    font-family: 'PT sans';
}

.col-lg-4 h6 {
    color: #562eff;
    font-family: 'PT sans';
    font-size: 16px;
    font-weight: normal;
}

.col-lg-3 .fun-fact-block {
    color: #888888;
    font-size: 55px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #282828;
    background-color: #282828;
}

.col-lg-3 #fun-value {
    color: #562eff;
    font-family: 'PT sans';
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0px 10px 0px;
}

.col-lg-3 .fun-fact {
    color: #888888;
    font-size: 55px;
    text-align: center;
}

.col-lg-3 .fun-fact h4 {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-lg-3 .fun-fact-block h4 {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-lg-3 .fun-fact .fa-solid {
    font-size: 55px;
}

.col-lg-3 .fun-fact-block .fa-solid {
    font-size: 55px;
}
/* 
Resume Category CSS
*/
.timeline-event{
    border-left: 0.5px solid #282828;
    font-family: 'PT sans';
}
.timeline-event .event-date{
display: inline-block;
position: relative;
color: #fff;
font-size: 13px;
font-weight: 300;
line-height: 1.1em;
margin: 0 0 3px;
margin-left: 0px;
background-color: #562eff;
padding: 6px 9px 9px 20px;
font-family: 'Oxygen';
}
.timeline-event .event-name {
    margin: 10px 0 0 10px;
    font-family: 'PT sans';
  }
.timeline-event .event-description{
color: #a5a5a5;
margin: 10px;
font-size: 12px;
font-weight: 300;
line-height: 1.45em;
}
.timeline-event p{
font-size: .875em;
margin:10px;
font-weight: 300;
}
/* media query section*/
@media only screen and (max-width: 850px) {
    .sidebar-wrap {
        display: none;
    }

    .header-bar {
        height: 55px;
        width: 100%;
        position: relative;
        background-color: #222222;
        border-bottom: 1px solid rgba(255, 255, 255, .12);
    }

    .ham-burger-icon{
        display: block;
        padding:5px 0 5px 0;
        cursor: pointer;
    }

    .toggle-sidebar {
        display: block !important;
    }
}